# CRUD - Funcoes manipular base de dados. 

## Create
Criar novos dados dentro da base de dados.

## Read 
Resgatar alguma informacao da base de dados.

## Update
Alterar algum dado da base de dados.

## Delete
Remover algum dado da base de dados.

In [ ]:
depositos = [
    {"id": 1, "cliente": "Ana", "valor": 1500.00, "data": "2025-07-01"},
    {"id": 2, "cliente": "Bruno", "valor": 250.50, "data": "2025-07-02"},
    {"id": 3, "cliente": "Carlos", "valor": 3200.00, "data": "2025-07-02"},
    {"id": 4, "cliente": "Diana", "valor": 500.00, "data": "2025-07-02"},
    {"id": 5, "cliente": "Eduardo", "valor": 100.00, "data": "2025-07-02"},
    {"id": 6, "cliente": "Fernanda", "valor": 780.00, "data": "2025-07-06"},
    {"id": 7, "cliente": "Gabriel", "valor": 1200.00, "data": "2025-07-07"},
    {"id": 8, "cliente": "Helena", "valor": 950.00, "data": "2025-07-08"},
    {"id": 9, "cliente": "Igor", "valor": 300.00, "data": "2025-07-09"},
    {"id": 10, "cliente": "Julia", "valor": 2000.00, "data": "2025-07-10"},
    {"id": 11, "cliente": "Kleber", "valor": 400.00, "data": "2025-07-11"},
    {"id": 12, "cliente": "Larissa", "valor": 600.00, "data": "2025-07-12"},
    {"id": 13, "cliente": "Marcos", "valor": 850.00, "data": "2025-07-13"},
    {"id": 14, "cliente": "Nina", "valor": 1300.00, "data": "2025-07-14"},
    {"id": 15, "cliente": "Otavio", "valor": 700.00, "data": "2025-07-15"},
    {"id": 16, "cliente": "Paula", "valor": 1100.00, "data": "2025-07-16"},
    {"id": 17, "cliente": "Quintino", "valor": 500.00, "data": "2025-07-17"},
    {"id": 18, "cliente": "Rafaela", "valor": 900.00, "data": "2025-07-18"},
    {"id": 19, "cliente": "Ana", "valor": 1600.00, "data": "2025-07-19"},
    {"id": 20, "cliente": "Tatiane", "valor": 2100.00, "data": "2025-07-20"}
]

## Read - Resgatando dados
Abaixo funcoes de exemplo para resgatar dados

In [ ]:
# Resgatar um deposito por ID
def get_deposito_id(id):
    for i in depositos:
        if i["id"] == id:
            return i

get_deposito_id(4)

In [ ]:
# Resgatar diferentes depositos por nome
def get_deposito_nome(nome):
    # clientes = [i for i in depositos if i["cliente"] == nome]
    # return clients 
    
    clients = []
    for i in depositos:
        if i["cliente"] == nome:
            clients.append(i)

    return clients

get_deposito_nome("Ana")

In [ ]:
# Resgatar depositos por data
def get_deposito_data(data):
    datas = []
    for i in depositos:
        if data in i["data"]:
            datas.append(i)

    return datas

get_deposito_data("07-02")

### Crie diferentes funcoes de resgate.

- Resgatar de saques o cliente pelo id

- Resgatar de saques cliente pelo nome

- Resgatar de saques por data

- Resgatar todos os saques acima de 200 reais

- Resgatar todos os saques igual ou abaixo de 200 reais

*Bonus*
**- Resgatar todos os saques depois do dia 03 do 07**

In [43]:
saques = [
    {"id": 1, "cliente": "Ana", "valor": 300.00, "data": "2025-07-01"},
    {"id": 2, "cliente": "Bruno", "valor": 150.00, "data": "2025-07-02"},
    {"id": 3, "cliente": "Ana", "valor": 200.00, "data": "2025-07-02"},
    {"id": 4, "cliente": "Diana", "valor": 200.00, "data": "2025-07-03"},
    {"id": 5, "cliente": "Eduardo", "valor": 50.00, "data": "2025-07-03"},
    {"id": 6, "cliente": "Fernanda", "valor": 400.00, "data": "2025-07-04"},
    {"id": 7, "cliente": "Gabriel", "valor": 250.00, "data": "2025-07-04"},
    {"id": 8, "cliente": "Helena", "valor": 100.00, "data": "2025-07-05"},
    {"id": 9, "cliente": "Igor", "valor": 80.00, "data": "2025-07-05"},
    {"id": 10, "cliente": "Julia", "valor": 600.00, "data": "2025-07-06"},
    {"id": 11, "cliente": "Ana", "valor": 120.00, "data": "2025-07-06"},
    {"id": 12, "cliente": "Larissa", "valor": 300.00, "data": "2025-07-07"},
    {"id": 13, "cliente": "Marcos", "valor": 200.00, "data": "2025-07-07"},
    {"id": 14, "cliente": "Nina", "valor": 350.00, "data": "2025-07-08"},
    {"id": 15, "cliente": "Otavio", "valor": 100.00, "data": "2025-07-08"},
    {"id": 16, "cliente": "Paula", "valor": 500.00, "data": "2025-07-09"},
    {"id": 17, "cliente": "Quintino", "valor": 200.00, "data": "2025-07-09"},
    {"id": 18, "cliente": "Rafaela", "valor": 400.00, "data": "2025-07-10"},
    {"id": 19, "cliente": "Samuel", "valor": 250.00, "data": "2025-07-10"},
    {"id": 20, "cliente": "Tatiane", "valor": 700.00, "data": "2025-07-10"}
]

In [ ]:
def get_saques_data():
    datas = []

    for i in saques:
        mes = i["data"][5] + i["data"][6]
        dia = i["data"][8] + i["data"][9]
        
        if int(mes) > 6 and int(dia) > 3:
            datas.append(i)

    return datas

get_saques_data()

### Criando um novo saque na base de dados

In [ ]:
# Create

def create_saques(saque):
    # VERIFICAR SE O NOME NAO ESTA VAZIO
    # VERIFICAR SE O SAQUE > 0
    # VERIFICAR O PADRAO DA DATA
    
    id = saques[-1]["id"] + 1 # vai na ultima posicao, pega o ID e soma com mais 1
    saque["id"] = id # no dicionario cria uma chave id e coloca o novo id 

    saques.append(saque) # Adciona na base de dados

    return "Criado com sucesso!"


for i in range(1): # numero de vezes que vai ser repetir para adicionar um novo saque
    cliente = input("cliente: ")
    valor = float(input("valor: "))
    data = input("data: ")

    saque = {
                "cliente": cliente, 
                "valor": valor, 
                "data": data
            }
    
    create_saques(saque)

print(saques[-1])

{'cliente': 'Alberto', 'valor': -300.0, 'data': '10', 'id': 21}